<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Tutorial 1</title>
  
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../static/css/style11.css">
</head>

<body >
 <div>
	
<!-- 

  <form action="{{ url_for('predict')}}"method="post">
    <h1>Predict Reliability of Covid 19 tweets</h1>
    <input type="text" name="CovidTweet" placeholder="paste here covid19 tweet" required="required" />
      <input type="submit" value='Predict the reliability' />
  </form> -->



  <form action="{{ url_for('predict')}}"method="post">
    <img src="../static/css/logo_twitter.png" alt="logo" width="360" height="360">
    <h2>NewsDetector technology help you to identify the truth. </h2>

    <input type="text" name="CovidTweet" placeholder="paste here covid19 tweet" required="required" />

    <br>
    <br>
    <input type="submit" value="Predict" />
    <div class="drops">
      <div class="drop drop-1"></div>
      <div class="drop drop-2"></div>
      <div class="drop drop-3"></div>
      <div class="drop drop-4"></div>
    </div>
  </form>

   <br>
   <br>
  
   <div class="results">
    <section>
      <h1>
        The results prediction
      </h1>
      <details>
        {{prediction_text}}
      </details>

    </section>

  </div>

 </div>
</body>
</html>